$root-body: #00001c;
$linear__gold: linear-gradient(90deg, #de9f17 0%, #d19c15 33%, #fff58a 67%, #ffd147 100%);
$linear__dark-to-light: linear-gradient(180deg, rgba(0, 0, 28, 1) 0%, #171756 100%);
$linear__light-to-dark: linear-gradient(180deg, #171756 0%, rgba(0, 0, 28, 1) 100%);

// Colors
$green: #1dd71d;

body,
.page--splash {
    background: $root-body !important;
}

.page-inner,
.login {
    background: $root-body !important;
}

.gradient-purple, .account-info {
    background: $linear__gold !important;
    color: #000;

    .account-info__total {
        font-weight: bold;
        //font-size: 40px;
    }

    .plus {
        color: #000 !important;
        font-weight: bold;
    }
}

.gradient-lightgreen, .button--main, .button--more,
.bottom-navigation__icons li.centered, .card--style-plan-premium, .card--style-bg {
    background: $linear__gold !important;
}

.gradient-dark-blue,
.account-buttons a {
    background: $linear__dark-to-light;
}

.gradient-light-dark-blue {
    background: $linear__light-to-dark;
}

.account-buttons a {
    font-size: 9px;

    img {
        margin-bottom: 7px;
    }
}

.card-coin__price .plus {
    color: $green;
}

.swiper-slide {
    background: $linear__light-to-dark !important;
    border-radius: 7px !important;
    padding: 0px 0px !important;
}

.slider-simple .caption--gradient {
    background: transparent !important;
}

.slider-simple .caption {
    //height: calc(100% - 35px);
}


.swiper-slide-active {
    .caption__link a {
        background: $linear__gold;
    }
}

.header--page {
    background: $root-body;
}

.account-info__svg {
    margin-bottom: -1px;
}

.form__coin-icon img {
    width: 30px;
    margin-right: 5px;
}

.form__input--23 {
    width: calc(((100% / 3 ) * 2) - 15px);
}

body.with-panel-left-reveal .panel--left {
    background: $root-body;
}

//.panel__navigation {
//    .swiper-slide {
//        background: $root-body !important;
//    }
//}

.slider-simple .caption {
    display: block;
    margin-top: 10px;
}

.cryptos-cards {
    .card-coin {
        width: 100%;
        padding: 10px 0;
    }
}

.bottom-navigation--gradient {
    background: linear-gradient(180deg, rgba(41, 31, 87, 0) 0%, rgba(41, 31, 87, 0) 30%, #151553 30%, #010120 100%);
}


@media (max-width: 360px) {
    .card-coin__logo span b {
        font-size: 1rem;
    }

    .card-coin__price strong {
        font-size: 13px;
    }
}

.hide {
    display: none;
}

.round-block {
    display: flex;
    justify-content: space-between;

    .text {
        margin-bottom: 0;
        font-size: 16px;
    }
}
