body,
.page--splash {
  background: #00001c !important;
}

.page-inner,
.login {
  background: #00001c !important;
}

.gradient-purple, .account-info {
  background: linear-gradient(90deg, #de9f17 0%, #d19c15 33%, #fff58a 67%, #ffd147 100%) !important;
  color: #000;
}
.gradient-purple .account-info__total, .account-info .account-info__total {
  font-weight: bold;
}
.gradient-purple .plus, .account-info .plus {
  color: #000 !important;
  font-weight: bold;
}

.gradient-lightgreen, .button--main, .button--more,
.bottom-navigation__icons li.centered, .card--style-plan-premium, .card--style-bg {
  background: linear-gradient(90deg, #de9f17 0%, #d19c15 33%, #fff58a 67%, #ffd147 100%) !important;
}

.gradient-dark-blue,
.account-buttons a {
  background: linear-gradient(180deg, rgb(0, 0, 28) 0%, #171756 100%);
}

.gradient-light-dark-blue {
  background: linear-gradient(180deg, #171756 0%, rgb(0, 0, 28) 100%);
}

.account-buttons a {
  font-size: 9px;
}
.account-buttons a img {
  margin-bottom: 7px;
}

.card-coin__price .plus {
  color: #1dd71d;
}

.swiper-slide {
  background: linear-gradient(180deg, #171756 0%, rgb(0, 0, 28) 100%) !important;
  border-radius: 7px !important;
  padding: 0px 0px !important;
}

.slider-simple .caption--gradient {
  background: transparent !important;
}

.swiper-slide-active .caption__link a {
  background: linear-gradient(90deg, #de9f17 0%, #d19c15 33%, #fff58a 67%, #ffd147 100%);
}

.header--page {
  background: #00001c;
}

.account-info__svg {
  margin-bottom: -1px;
}

.form__coin-icon img {
  width: 30px;
  margin-right: 5px;
}

.form__input--23 {
  width: calc(66.6666666667% - 15px);
}

body.with-panel-left-reveal .panel--left {
  background: #00001c;
}

.slider-simple .caption {
  display: block;
  margin-top: 10px;
}

.cryptos-cards .card-coin {
  width: 100%;
  padding: 10px 0;
}

.bottom-navigation--gradient {
  background: linear-gradient(180deg, rgba(41, 31, 87, 0) 0%, rgba(41, 31, 87, 0) 30%, #151553 30%, #010120 100%);
}

@media (max-width: 360px) {
  .card-coin__logo span b {
    font-size: 1rem;
  }
  .card-coin__price strong {
    font-size: 13px;
  }
}
.hide {
  display: none;
}

.round-block {
  display: flex;
  justify-content: space-between;
}
.round-block .text {
  margin-bottom: 0;
  font-size: 16px;
}

.small-button {
  height: 35px;
  width: 100%;
  line-height: 0;
}

/**
    Notifications
 */
.notifications li {
  border-bottom: none;
  padding: 5px 0;
}
.notifications .notification {
  border-left: 2px solid;
  padding-left: 15px;
}
.notifications .notification.notification-warning {
  border-left-color: #ff7300;
}
.notifications .notification.notification-success {
  border-left-color: #00b600;
}
.notifications .notification.notification-error {
  border-left-color: #ff0000;
}
