body,
.page--splash {
  background: #00001c !important;
}

.page-inner,
.login {
  background: #00001c !important;
}

.gradient-lightgreen, .button--main, .button--more,
.bottom-navigation__icons li.centered, .card--style-plan-premium, .card--style-bg {
  background: linear-gradient(90deg, #de9f17 0%, #d19c15 33%, #fff58a 67%, #ffd147 100%) !important;
}

.gradient-dark-blue,
.account-buttons a {
  background: linear-gradient(180deg, #04083F 0%, rgba(0, 0, 28, 0.7) 100%);
}

.account-buttons a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 9px;
}
.account-buttons a img {
  margin-bottom: 7px;
}
